:root.light {
  --main-color: #f4f1ec;

  --selection-text-color: #fffcf0;
  --selection-bg-color: #393022;

  --bg-color: #f4f1ec;
  --text-color: #1a1a1a;
  --text-color-400: oklch(70.7% 0.022 261.325);
  --text-color-600: oklch(44.6% 0.03 256.802);

  --ring-color: oklch(92.8% 0.006 264.531);
  --dash-line-color: oklch(87.2% 0.01 258.338);

  --card-color: #ffffff;
  --card-text-color: oklch(70.7% 0.022 261.325);

  --back-to-top-bg-color: oklch(92.8% 0.006 264.531);
  --player-button-bg-color: oklch(93.6% 0.032 17.717);
  --player-button-hover-bg-color: oklch(88.5% 0.062 18.334);

  // 编辑器
  --editor-bg-color: #ffffff;
  --editor-text-color: oklch(0.98 0 0);
  --editor-title-color: oklch(44.6% 0.043 257.281);
  --tag-editor-border-color: oklch(87.2% 0.01 258.338);

  --widget-bg-color: #ffffff;
  --widget-title-color: oklch(44.6% 0.03 256.802);
  --widget-text-color: oklch(55.3% 0.013 58.071);

  // Connect
  --connect-border-color: oklch(92.8% 0.006 264.531);
  --connect-dot-border-color: #ffffff;

  // 时间轴
  --timeline-line-color: #0000000d;
  --timeline-dot-color: oklch(64.6% 0.222 41.116);
  --timeline-datetime-color: oklch(70.5% 0.213 47.604);
  --timeline-tag-color: oklch(87.2% 0.01 258.338);
  --timeline-load-more-bg-color: #ffffff;
  --timeline-load-more-text-color: oklch(44.6% 0.03 256.802);
  --timeline-load-more-active-bg-color: oklch(96.7% 0.003 264.542);

  // Echo
  --echo-card-btn-bg-color: #ffffff;
  --echo-detail-bg-color: #ffffff;
  --echo-text-color: oklch(0.9 0.01 136.32);

  // Heatmap
  --heatmap-ring-color: oklch(96.7% 0.003 264.542);
  --heatmap-bg-color-0: #ffffff;
  --heatmap-bg-color-1: #c6e48b;
  --heatmap-bg-color-2: #7bc96f;
  --heatmap-bg-color-3: #239a3b;
  --heatmap-bg-color-4: #196127;

  // 通用组件
  --btn-bg-color: oklch(98.5% 0.002 247.839);
  --btn-ring-color: oklch(87.2% 0.01 258.338);

  --input-bg-color: #ffffff;
  --input-border-color: oklch(86.9% 0.005 56.366);
  --textarea-bg-color: #ffffff;
  --placeholder-color: oklch(44.6% 0.03 256.802);

  --combobox-bg-color: #ffffff;

  --dialog-bg-color: #ffffff;
  --dialog-title-color: oklch(44.6% 0.03 256.802);
  --dialog-text-color: oklch(70.7% 0.022 261.325);
  --dialog-cancel-btn-bg-color: #ffffff;
  --dialog-confirm-btn-bg-color: oklch(75% 0.183 55.934);

  --select-bg-color: #ffffff;
  --select-disabled-bg-color: oklch(96.7% 0.003 264.542);
  --select-border-color: oklch(87.2% 0.01 258.338);
  --select-label-text-color: oklch(37.3% 0.034 259.733);
  --select-label-hover-bg-color: oklch(98% 0.016 73.684);
  --select-label-clicked-bg-color: oklch(98.5% 0.002 247.839);
}
